<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="container-fluid">

    <!-- Header Navigation-->
    <nav class="navbar navbar-exapnd-md navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="title col-md-auto">
                <h1>Roko's Basilisk: Idle/Exploration Text Adventure</h1>
                <h2>Welcome, {{request.session.player_name}}</h2>
            </div>
            <a class="btn btn-outline-secondary" href="/logout" role="button">Exit</a>
        </div>
    </div>
    <div>
        
    <div class="textgame">
        <h1>{{request.session.current_place}}</h1>
        <!-- {{place}} -->
        <h2><P>{{place.name}}</P>
            <p>{{place.description}}</p></h2>
        <!-- <title>textBoxes</title>
            <script type="text/javascript">
                function sayHi() {
                    var txtName = document.getElementById("txtName");
                    var txtOutput = document.getElementById("txtOutput");
                    var name = txtName.value;
                    txtOutput.value = "Hi there, " + name + "!"
                }
            </script>
            <link rel="stylesheet" type="text/css" href="textBoxes.css" /> -->
        </head>
        
        <body>
            <form action="/process" method=POST>
                <p>{{request.session.prompt}}</p>
                {% csrf_token %}
                <input type="text" name="input">
                <input type="submit">
            </form>
            <!-- reset game (flushes) -->
            <a href="/reset">Reset Game</a>
            <!-- <h1>Text Box Input and Output</h1>
            <form action="">
                  <fieldset>
                  <label>Type your name: </label>
                  <input type = " text" id="txtName" />
            <input type="button" value="click me" onclick="sayHi()" />
            <input type="text" id="txtOutput" />
            </fieldset>
            </form> -->
             <!-- game box -->
    <div1 class="box1 my-2"></div1>
    <div2 class="box1 my-2"></div2>
    <div>
        <ul id='stats' class="inventory list-inline">
            <li class="list-inline-item"> Rations: {{ request.session.rations }}</li>
            <li class="list-inline-item"> Stamina: {{ request.session.stamina }}</li>
        </ul>
        <div class='form' id='count'>
            <h3>Get Rations</h3>
            <p>Get 5 Rations</p>
            <form action="/get_rations" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="rations">
                <input type="submit" value="Get Rations">
            </form>
        </div>
        <div class="form" id='train'>
            <h3>Train to Get Stamina</h3>
            <p>Convert 10 Rations to 1 Stamina point</p>
            <form action="/train" method='POST'>
            {% csrf_token %}
                <input type="hidden" name="stamina">
                <input type="submit" value="Train">
            </form>
        </div>
    </div>

    <script>
    var point = 1;
    var showClickDmg = document.getElementById('output1');
    showClickDmg.innerHTML = point;
    
    var incrementDamage = 0;
    var incDmg = document.getElementById('output2');
    incDmg.innerHTML = incrementDamage;
    
    var currentPoint = 0;
    var dpsOutput = document.getElementById('dps');
    dpsOutput.innerHTML = currentPoint;
    
    function increaseDPS()
    {
        currentPoint = currentPoint + point + incrementDamage;
        dpsOutput.innerHTML = currentPoint;
    }
    
    function powerClick()
    {
        if(currentPoint >= 20)
        {
            currentPoint = currentPoint - 20;
            point = point + 1;
            showClickDmg.innerHTML = point;
            document.getElementById('system').innerHTML = "";
            document.getElementById('system').innerHTML = "<div class='alert alert-success'>Bought Power Click! Now it's " + point + "!</div>";
        }
        else
        {
            var remainingPoints = 20 - currentPoint;
            document.getElementById('system').innerHTML = "<div class='alert alert-warning'>Insufficient points! You need " + remainingPoints + " more!</div>";
        }
    }
    
    var interval1;
    
    function minorInc()
    {
        currentPoint = currentPoint + incrementDamage;
        dpsOutput.innerHTML = currentPoint;
    }
    
    function passiveClick()
    {
        if (currentPoint >= 100)
        {
            incrementDamage++;
            incDmg.innerHTML = incrementDamage;
            currentPoint = currentPoint - 100;
            interval1 = setInterval('minorInc()', 1000);
            document.getElementById('system').innerHTML = '';
            document.getElementById('system').innerHTML = "<div class='alert alert-warning'>You bought Click Staff! Increment Damage is now " + incrementDamage + "</div>";
        }
        else
        {
            var remainingPoints = 100 - currentPoint;
            document.getElementById('system').innerHTML = "<div class='alert alert-warning'>Insufficient points for Click Staff! You need " + remainingPoints + " more!</div>"; //Standard Error
        }
    }
    
    function stopper()
    {
        clearInterval(interval1);
    }
    </script>
</div>
    <div>
        <img class="map" src="https://i.imgur.com/msJV1Kd.png" alt="Default Map" width="500" height="600">
    </div>
</body>


<script type='text/javascript'>
        $(document).on('submit', '#count', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/get_rations',
                data: {
                    rations:$('#rations').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    document.getElementById('stats').innerHTML = response
                    console.log(response)
                }
            });
        });
        $(document).on('submit', '#train', function (x) {
            x.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/train',
                data :{
                    stamina:$('#stamina').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(update){
                    document.getElementById('stats').innerHTML = update
                    console.log(update)
                }
            });
        });

</script>

</html>