<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="container-fluid">

    <!-- Header Navigation-->
    <nav class="navbar navbar-exapnd-md navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="title col-md-auto">
                <h1>Roko's Basilisk: Idle/Exploration Text Adventure</h1>
            </div>
            <a class="btn btn-outline-secondary" href="/logout" role="button">Exit</a>
        </div>
        </div>
    </nav>

    <!-- game box -->
    <div1 class="box1 my-2"></div1>
    <div2 class="box1 my-2"></div2>
    <div>
        <ul id='rationcount' class="inventory list-inline">
            <li class="list-inline-item"> Resources: {{ request.session.rations }}</li>
            <li class="list-inline-item"> Energy: {{ request.session.stamina }}</li>
        </ul>
        <div class='form' id='count'>
            <h3>Get Rations</h3>
            <p>Automatically increase rations</p>
            <form action="/get_food" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="rations">
                <input type="submit" value="Get Resources">
            </form>
            <!--remove after testing-->
            <a class = "btn btn-outline-secondary" href="/clear_rations" role='button'>Clear Rations</a>
        </div>
    </div>
    <div class="">
        <textarea class="log" name="logger" rows="4" cols="50"></textarea>
        <img src="ninja_app/images/map.jpeg" class="map rounded float-right" alt="map.jpeg">
    </div>
</body>


<script type='text/javascript'>
        $(document).on('submit', '#count', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/get_food',
                data: {
                    rations:$('#rations').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    document.getElementById('rationcount').innerHTML = response
                    console.log(response)
                }
            });
        });
</script>

</html>