<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body class="container-fluid"> 

    <!-- Header Navigation-->
    <nav class="navbar navbar-exapnd-md navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="title col-md-auto">
                <h1>Roko's Basilisk: Idle/Exploration Text Adventure</h1>
            </div>
                <a class="btn btn-outline-secondary" href="#" role="button">Exit</a>
        </div>
        </div>
    </nav>
    
    <!-- game box -->
    <div1 class="box1 my-2"></div1>
    <div2 class="box1 my-2"></div2>
<div>
    <ul class="inventory list-inline">
        <li class="list-inline-item"> Resources: {{ resource }}</li>
        <li class="list-inline-item"> Energy: {{ energy }}</li>
  </ul>
</div>
  <div class="">
    <textarea class="log" name="logger" rows="4" cols="50"></textarea>
    <img src="map.jpeg" class="map rounded float-right" alt="map.jpeg">
  </div>
</body>
</html>